{% extends "base.html" %}

{% block title %} Footwear Details {% endblock %}

{% block content %}

<div class="Search-container">





    <h1 style="text-align: center">Category All</h1>

    <div class="products-container">
        {% for f in detail_all %}
            <div class="footwear-list">
                <img src="{{ f.image.url }}" alt="Footwear Image">
                <a>{{ f.name }}</a>
                <a>{{ f.price }}</a>
                <a href="{% url 'products:detail-review' f.pk%}">Detail</a>
                <a href="{% url 'products:gul-delete' f.pk%}">Delete</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
